#result {color: deepskyblue; border:  1px solid gray;}
.c1	{color: lightblue; border: 5px solid; margin-left: 300px; 
			margin-right: 300px; background-color: lemonchiffon;
			text-align: center; font-family: serif;}

.c2 {color: lemonchiffon; background-color: lightblue;}

.c3 {color: lightblue; background-color: lemonchiffon;}
		